@()

@main("") {

    <form class="form-horizontal">
        <input type="text" name="creditCard" placeholder="Credit card number">
        <button id="buy" class="btn btn-inverse">Buy Stuff</button>
        <label class="control-label" for="creditCard" id="message"></label>
    </form>
    <div class="row-fluid">
        <div class="span6">
            <h3>Waiting for validation</h3>
            <ul class="unstyled" id="validator"></ul>
        </div>
        <div class="span6">
            <h3>Validated</h3>
            <ul class="unstyled" id="validated"></ul>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#message').hide();
            var eventSource = new EventSource('/sse');
            eventSource.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.log(data);
                if (typeof data.validated !== 'undefined') {
                    $('#validated').append('<li>Order with id: ' + data.id + ' and credit card: ' + data.creditCardNumber + ' is fully validated</li>')
                } else if (typeof data.validator !== 'undefined') {
                    $('#validator').append('<li>Order with id: ' + data.id + ' and credit card: ' + data.creditCardNumber + ' is waiting for validation ...</li>')
                }
            };
            $('#buy').click(function(e) {
                e.preventDefault();
                //$('#message').show();
                //$('#message').html("Waiting for validation ...   ");
                $('input[name=creditCard]').attr('disabled', 'disabled');
                $('#buy').attr('disabled', 'disabled');
                $.post('/order', {creditCardNumber: $('input[name=creditCard]').val()}, function(data) {
                    $('input[name=creditCard]').removeAttr('disabled');
                    $('#buy').removeAttr('disabled');
                    //$('#message').hide();
                });
            });
        });
    </script>

}
